# This playbook will deploy required management networks
# IPs added here are purely dummy ones as Vultr APIs needs it. These networks are layer 2
# and hence what IP we use doesn't matters. Vultr API expects minimum of /29 while we are using /31s. 

---
  - hosts: localhost 
    gather_facts: no
  
    vars:
        api_key: "{{ lookup('ini', 'api_key type=properties file=~/.vultr.config') }}"

    tasks: 

      - name: Create out of band management network 
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:
        - { name: 'mgmt', cidr: '10.102.1.0/24'}
        tags: create
