# This playbook will deploy required P2P networks
# IPs added here are purely dummy ones as Vultr APIs needs it. These networks are layer 2
# and hence what IP we use doesn't matters. Vultr API expects minimum of /29 while we are using /31s. 

---
  - hosts: localhost 
    gather_facts: no

    vars:
        api_key: "{{ lookup('ini', 'api_key type=properties file=~/.vultr.config') }}"

    tasks: 

      - name: Create P2P Networks for group 1
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:
        - { name: 'R1-R2', cidr: '10.100.0.0/24'} 
        - { name: 'R2-R4', cidr: '10.100.1.0/24'} 
        - { name: 'R3-R4', cidr: '10.100.2.0/24'} 
        - { name: 'R2-R5', cidr: '10.100.3.0/24'}
        - { name: 'R4-R5', cidr: '10.100.4.0/24'}

      - name: Create P2P Networks for group 2
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:
        - { name: 'R6-R7', cidr: '10.100.5.0/24'}
        - { name: 'R7-R9', cidr: '10.100.6.0/24'}
        - { name: 'R8-R9', cidr: '10.100.7.0/24'}
        - { name: 'R7-R10', cidr: '10.100.8.0/24'}
        - { name: 'R9-R10', cidr: '10.100.9.0/24'}

      - name: Create P2P Networks for group 3
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:
        - { name: 'R11-R12', cidr: '10.100.10.0/24'}
        - { name: 'R11-R14', cidr: '10.100.11.0/24'}
        - { name: 'R13-R14', cidr: '10.100.12.0/24'}
        - { name: 'R11-R15', cidr: '10.100.13.0/24'}
        - { name: 'R14-R15', cidr: '10.100.14.0/24'}
                      
      - name: Create P2P Networks for group 4
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:        
        - { name: 'R26-R27', cidr: '10.100.15.0/24'}
        - { name: 'R26-R29', cidr: '10.100.16.0/24'}
        - { name: 'R28-R29', cidr: '10.100.17.0/24'}
        - { name: 'R26-R30', cidr: '10.100.18.0/24'}
        - { name: 'R29-R30', cidr: '10.100.19.0/24'}
      
      - name: Create P2P Networks for group 5
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:        
        - { name: 'R16-R17', cidr: '10.100.20.0/24'}
        - { name: 'R16-R19', cidr: '10.100.21.0/24'}
        - { name: 'R18-R19', cidr: '10.100.22.0/24'}
        - { name: 'R16-R20', cidr: '10.100.23.0/24'}
        - { name: 'R19-R20', cidr: '10.100.24.0/24'}

      - name: Create P2P Networks for group 6
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:                
        - { name: 'R21-R22', cidr: '10.100.25.0/24'}
        - { name: 'R21-R24', cidr: '10.100.26.0/24'}
        - { name: 'R23-R24', cidr: '10.100.27.0/24'}
        - { name: 'R21-R25', cidr: '10.100.28.0/24'}
        - { name: 'R24-R25', cidr: '10.100.29.0/24'}        

      - name: Create P2P Networks with the GW
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          api_key: "{{ api_key }}"
          state: present
        loop:                
        - { name: 'R5-GW', cidr: '10.100.30.0/24'}
        - { name: 'R10-GW', cidr: '10.100.31.0/24'}
        - { name: 'R15-GW', cidr: '10.100.32.0/24'}        
        - { name: 'R20-GW', cidr: '10.100.33.0/24'}
        - { name: 'R25-GW', cidr: '10.100.34.0/24'}
        - { name: 'R30-GW', cidr: '10.100.35.0/24'}