# This playbook will deploy required P2P networks
# IPs added here are purely dummy ones as Vultr APIs needs it. These networks are layer 2
# and hence what IP we use doesn't matters. Vultr API expects minimum of /29 while we are using /31s. 

---
  - hosts: localhost 
    gather_facts: no
    tasks: 

      - name: Create provider-customer Networks for group 1
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          state: present
        loop:
        - { name: 'R1-CPE1', cidr: '10.101.1.0/24'}
        - { name: 'R2-CPE2', cidr: '10.101.2.0/24'}
        - { name: 'R3-CPE3', cidr: '10.101.3.0/24'}
        - { name: 'R4-CPE4', cidr: '10.101.4.0/24'}
        - { name: 'R5-CPE5', cidr: '10.101.5.0/24'}


      - name: Create provider-customer Networks for group 2
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          state: present
        loop:
        - { name: 'R6-CPE6', cidr: '10.101.6.0/24'}
        - { name: 'R7-CPE7', cidr: '10.101.7.0/24'}
        - { name: 'R8-CPE8', cidr: '10.101.8.0/24'}
        - { name: 'R9-CPE9', cidr: '10.101.9.0/24'}
        - { name: 'R10-CPE10', cidr: '10.101.10.0/24'}

      - name: Create provider-customer Networks for group 3
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          state: present
        loop:
        - { name: 'R11-CPE11', cidr: '10.101.11.0/24'}
        - { name: 'R12-CPE12', cidr: '10.101.12.0/24'}
        - { name: 'R13-CPE13', cidr: '10.101.13.0/24'}
        - { name: 'R14-CPE14', cidr: '10.101.14.0/24'}
        - { name: 'R15-CPE15', cidr: '10.101.15.0/24'}

      - name: Create provider-customer Networks for group 4
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          state: present
        loop:
        - { name: 'R16-CPE16', cidr: '10.101.16.0/24'}
        - { name: 'R17-CPE17', cidr: '10.101.17.0/24'}
        - { name: 'R18-CPE18', cidr: '10.101.18.0/24'}
        - { name: 'R19-CPE19', cidr: '10.101.19.0/24'}
        - { name: 'R20-CPE20', cidr: '10.101.20.0/24'}

      - name: Create provider-customer Networks for group 5
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          state: present
        loop:
        - { name: 'R21-CPE21', cidr: '10.101.21.0/24'}
        - { name: 'R22-CPE22', cidr: '10.101.22.0/24'}
        - { name: 'R23-CPE23', cidr: '10.101.23.0/24'}
        - { name: 'R24-CPE24', cidr: '10.101.24.0/24'}
        - { name: 'R25-CPE25', cidr: '10.101.25.0/24'}


      - name: Create provider-customer Networks for group 6
        ngine_io.vultr.vultr_network:
          name: "{{ item.name }}"
          cidr: "{{ item.cidr }}"
          region: Singapore
          state: present
        loop:
        - { name: 'R26-CPE26', cidr: '10.101.26.0/24'}
        - { name: 'R27-CPE27', cidr: '10.101.27.0/24'}
        - { name: 'R28-CPE28', cidr: '10.101.28.0/24'}
        - { name: 'R29-CPE29', cidr: '10.101.29.0/24'}
        - { name: 'R30-CPE30', cidr: '10.101.30.0/24'}
        - { name: 'R31-CPE31', cidr: '10.101.31.0/24'}