---
  - hosts: localhost 

    tasks: 

      - name: Create GW router 
        ngine_io.vultr.vultr_server:
          api_account: default
          api_retries: 1
          name: gw.lab.innog.net
          snapshot: Vyos
          os: Ubuntu 20.04 x64
          plan: 1024 MB RAM,25 GB SSD,1.00 TB BW
          region: Singapore
          # private_network_enabled: yes
          state: stopped
          force: yes

      - name: Attach backend infra to private network
        shell: ../common/private-network-manage.sh "{{ item.router }}" mgmt "{{ item.action }}"
        args:
          executable: /bin/bash
        loop:           
        - {router: 'gw.lab.innog.net', action: 'add'}


